@import "tailwindcss";

@layer base {
  body {
    @apply antialiased text-slate-900 bg-[#DDE2FF];
  }
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}