# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
venv/
ENV/
.venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
tmp/
*.tmp

# Qdrant local (optional, if using local storage)
qdrant_storage/

dist/
# Firebase credentials (security)
server/app/docg-9a14e-firebase-adminsdk-fbsvc-891e32e2b7.json
